{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<section class="text-center">
    <h1 >Let's get started!</h1>
    <div>
        <a class="btn btn-primary" href="{{ path('app_checklist_new') }}">Create a new Checklist now</a>
    </div>


</section>
{% endblock %}
